@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+25&family=Micro+5&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Tiny5&display=swap');


@import "tailwindcss";


@theme {
    --font-poppins: 'Poppins', 'sans-serif';
    --font-jersey-10: "Jersey 10", "sans-serif";
    --font-jersey-15: "Jersey 15", "sans-serif";
    --font-jersey-25: "Jersey 25", "sans-serif";
    --font-micro-5: "Micro 5", "sans-serif";
    --font-tiny-5: "Tiny5", "sans-serif";
    --font-press-start-2p: "Press Start 2P", "cursive";
}

* {}

.pixel-border-card {
    box-shadow:
        -3px 0px 0px 0px var(--color-zinc-700),
        3px 0px 0px 0px var(--color-zinc-700),
        0px 3px 0px 0px var(--color-zinc-700),
        0px -3px 0px 0px var(--color-zinc-700),

        -6px 0px 0px 0px var(--color-gray-400),
        0px 6px 0px 0px var(--color-gray-400),
        6px 0px 0px 0px var(--color-gray-400),
        0px -6px 0px 0px var(--color-gray-400),

        0px 0px 0px 3px var(--color-gray-400);

}

.pixel-border-card-red {
    box-shadow:
        -3px 0px 0px 0px var(--color-red-950),
        3px 0px 0px 0px var(--color-red-950),
        0px 3px 0px 0px var(--color-red-950),
        0px -3px 0px 0px var(--color-red-950),

        -6px 0px 0px 0px var(--color-red-600),
        0px 6px 0px 0px var(--color-red-600),
        6px 0px 0px 0px var(--color-red-600),
        0px -6px 0px 0px var(--color-red-600),

        0px 0px 0px 3px var(--color-red-600);

}

.pixel-border-card-blue {
    box-shadow:
        -3px 0px 0px 0px var(--color-blue-950),
        3px 0px 0px 0px var(--color-blue-950),
        0px 3px 0px 0px var(--color-blue-950),
        0px -3px 0px 0px var(--color-blue-950),

        -6px 0px 0px 0px var(--color-blue-600),
        0px 6px 0px 0px var(--color-blue-600),
        6px 0px 0px 0px var(--color-blue-600),
        0px -6px 0px 0px var(--color-blue-600),

        0px 0px 0px 3px var(--color-blue-600);

}

.pixel-border-card-green {
    box-shadow:
        -3px 0px 0px 0px var(--color-green-950),
        3px 0px 0px 0px var(--color-green-950),
        0px 3px 0px 0px var(--color-green-950),
        0px -3px 0px 0px var(--color-green-950),

        -6px 0px 0px 0px var(--color-green-600),
        0px 6px 0px 0px var(--color-green-600),
        6px 0px 0px 0px var(--color-green-600),
        0px -6px 0px 0px var(--color-green-600),

        0px 0px 0px 3px var(--color-green-600);

}

.pixel-border-background {
    box-shadow:
        -3px 0px 0px 0px var(--color-zinc-800),
        3px 0px 0px 0px var(--color-zinc-800),
        0px 3px 0px 0px var(--color-zinc-800),
        0px -3px 0px 0px var(--color-zinc-800),

        -6px 0px 0px 0px var(--color-gray-500),
        0px 6px 0px 0px var(--color-gray-500),
        6px 0px 0px 0px var(--color-gray-500),
        0px -6px 0px 0px var(--color-gray-500),

        0px 0px 0px 3px var(--color-gray-500);

}

.pixel-border-button-green {
    box-shadow:
        -3px 0px 0px 0px var(--color-green-500),
        3px 0px 0px 0px var(--color-green-500),
        0px 3px 0px 0px var(--color-green-500),
        0px -3px 0px 0px var(--color-green-500),

        -6px 0px 0px 0px var(--color-green-800),
        0px 6px 0px 0px var(--color-green-800),
        6px 0px 0px 0px var(--color-green-800),
        0px -6px 0px 0px var(--color-green-800),

        0px 0px 0px 3px var(--color-green-800);
}

.pixel-border-button-red {
    box-shadow:
        -3px 0px 0px 0px var(--color-red-800),
        3px 0px 0px 0px var(--color-red-800),
        0px 3px 0px 0px var(--color-red-800),
        0px -3px 0px 0px var(--color-red-800);
}



.pixel-border-button-gray {
    box-shadow:
        -3px 0px 0px 0px var(--color-gray-300),
        3px 0px 0px 0px var(--color-gray-300),
        0px 3px 0px 0px var(--color-gray-300),
        0px -3px 0px 0px var(--color-gray-300);
}

.pixel-border-button-gray:hover {
    box-shadow:
        -3px 0px 0px 0px var(--color-gray-400),
        3px 0px 0px 0px var(--color-gray-400),
        0px 3px 0px 0px var(--color-gray-400),
        0px -3px 0px 0px var(--color-gray-400);
}

.pixel-border-button-gray:focus {
    box-shadow:
        -3px 0px 0px 0px var(--color-red-800),
        3px 0px 0px 0px var(--color-red-800),
        0px 3px 0px 0px var(--color-red-800),
        0px -3px 0px 0px var(--color-red-800);
}

@-moz-keyframes atebits-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    3% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    10% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    13% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    20% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    23% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    30% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    33% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    40% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    43% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    50% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    53% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    60% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    63% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    70% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    73% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    83% {
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    90% {
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    93% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes atebits-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    3% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    10% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    13% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    20% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    23% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    30% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    33% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    40% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    43% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    50% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    53% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    60% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    63% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    70% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    73% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    83% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    90% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    93% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes atebits-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    3% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    10% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    13% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    20% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    23% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    30% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    33% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    40% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    43% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    50% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    53% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    60% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    63% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    70% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    73% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    83% {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    90% {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    93% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/* :not(:required) hides this rule from IE9 and below */
.atebits-loader:not(:required) {
    background: var(--color-red-500);
    display: inline-block;
    width: 9px;
    height: 9px;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    -moz-box-shadow: var(--color-red-500) -12px -12px 0 0, var(--color-red-500) 12px -12px 0 0, var(--color-red-500) -12px 0 0 0, var(--color-red-500) 12px 0 0 0, var(--color-red-500) -12px 12px 0 0, var(--color-red-500) 0 12px 0 0, var(--color-red-500) 12px 12px 0 0;
    -webkit-box-shadow: var(--color-red-500) -12px -12px 0 0, var(--color-red-500) 12px -12px 0 0, var(--color-red-500) -12px 0 0 0, var(--color-red-500) 12px 0 0 0, var(--color-red-500) -12px 12px 0 0, var(--color-red-500) 0 12px 0 0, var(--color-red-500) 12px 12px 0 0;
    box-shadow: var(--color-red-500) -12px -12px 0 0, var(--color-red-500) 12px -12px 0 0, var(--color-red-500) -12px 0 0 0, var(--color-red-500) 12px 0 0 0, var(--color-red-500) -12px 12px 0 0, var(--color-red-500) 0 12px 0 0, var(--color-red-500) 12px 12px 0 0;
    -moz-animation: atebits-loader 5s infinite ease-in-out;
    -webkit-animation: atebits-loader 5s infinite ease-in-out;
    animation: atebits-loader 5s infinite ease-in-out;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}