@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+25&family=Micro+5&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Tiny5&display=swap');


@import "tailwindcss";


@theme {
    --font-poppins: 'Poppins', 'sans-serif';
    --font-jersey-10: "Jersey 10", "sans-serif";
    --font-jersey-15: "Jersey 15", "sans-serif";
    --font-jersey-25: "Jersey 25", "sans-serif";
    --font-micro-5: "Micro 5", "sans-serif";
    --font-tiny-5: "Tiny5", "sans-serif";
    --font-press-start-2p: "Press Start 2P", "cursive";
}

* {}

.pixel-border-card {
    box-shadow:
        -3px 0px 0px 0px var(--color-zinc-700),
        3px 0px 0px 0px var(--color-zinc-700),
        0px 3px 0px 0px var(--color-zinc-700),
        0px -3px 0px 0px var(--color-zinc-700),

        -6px 0px 0px 0px var(--color-gray-400),
        0px 6px 0px 0px var(--color-gray-400),
        6px 0px 0px 0px var(--color-gray-400),
        0px -6px 0px 0px var(--color-gray-400),

        0px 0px 0px 3px var(--color-gray-400);

}

.pixel-border-card-red {
    box-shadow:
        -3px 0px 0px 0px var(--color-red-950),
        3px 0px 0px 0px var(--color-red-950),
        0px 3px 0px 0px var(--color-red-950),
        0px -3px 0px 0px var(--color-red-950),

        -6px 0px 0px 0px var(--color-red-600),
        0px 6px 0px 0px var(--color-red-600),
        6px 0px 0px 0px var(--color-red-600),
        0px -6px 0px 0px var(--color-red-600),

        0px 0px 0px 3px var(--color-red-600);

}

.pixel-border-card-blue {
    box-shadow:
        -3px 0px 0px 0px var(--color-blue-950),
        3px 0px 0px 0px var(--color-blue-950),
        0px 3px 0px 0px var(--color-blue-950),
        0px -3px 0px 0px var(--color-blue-950),

        -6px 0px 0px 0px var(--color-blue-600),
        0px 6px 0px 0px var(--color-blue-600),
        6px 0px 0px 0px var(--color-blue-600),
        0px -6px 0px 0px var(--color-blue-600),

        0px 0px 0px 3px var(--color-blue-600);

}

.pixel-border-card-green {
    box-shadow:
        -3px 0px 0px 0px var(--color-green-950),
        3px 0px 0px 0px var(--color-green-950),
        0px 3px 0px 0px var(--color-green-950),
        0px -3px 0px 0px var(--color-green-950),

        -6px 0px 0px 0px var(--color-green-600),
        0px 6px 0px 0px var(--color-green-600),
        6px 0px 0px 0px var(--color-green-600),
        0px -6px 0px 0px var(--color-green-600),

        0px 0px 0px 3px var(--color-green-600);

}

.pixel-border-background {
    box-shadow:
        -3px 0px 0px 0px var(--color-zinc-800),
        3px 0px 0px 0px var(--color-zinc-800),
        0px 3px 0px 0px var(--color-zinc-800),
        0px -3px 0px 0px var(--color-zinc-800),

        -6px 0px 0px 0px var(--color-gray-500),
        0px 6px 0px 0px var(--color-gray-500),
        6px 0px 0px 0px var(--color-gray-500),
        0px -6px 0px 0px var(--color-gray-500),

        0px 0px 0px 3px var(--color-gray-500);

}

.pixel-border-button-green {
    box-shadow:
        -3px 0px 0px 0px var(--color-green-500),
        3px 0px 0px 0px var(--color-green-500),
        0px 3px 0px 0px var(--color-green-500),
        0px -3px 0px 0px var(--color-green-500),

        -6px 0px 0px 0px var(--color-green-800),
        0px 6px 0px 0px var(--color-green-800),
        6px 0px 0px 0px var(--color-green-800),
        0px -6px 0px 0px var(--color-green-800),

        0px 0px 0px 3px var(--color-green-800);
}

.pixel-border-button-red {
    box-shadow:
        -3px 0px 0px 0px var(--color-red-800),
        3px 0px 0px 0px var(--color-red-800),
        0px 3px 0px 0px var(--color-red-800),
        0px -3px 0px 0px var(--color-red-800);
}



.pixel-border-button-gray {
    box-shadow:
        -3px 0px 0px 0px var(--color-gray-300),
        3px 0px 0px 0px var(--color-gray-300),
        0px 3px 0px 0px var(--color-gray-300),
        0px -3px 0px 0px var(--color-gray-300);
}

.pixel-border-button-gray:hover {
    box-shadow:
        -3px 0px 0px 0px var(--color-gray-400),
        3px 0px 0px 0px var(--color-gray-400),
        0px 3px 0px 0px var(--color-gray-400),
        0px -3px 0px 0px var(--color-gray-400);
}

.pixel-border-button-gray:focus {
    box-shadow:
        -3px 0px 0px 0px var(--color-red-800),
        3px 0px 0px 0px var(--color-red-800),
        0px 3px 0px 0px var(--color-red-800),
        0px -3px 0px 0px var(--color-red-800);
}